@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rsbs-overlay-rounded: 0rem;
  --rsbs-max-w: theme('maxWidth.xl');
  --rsbs-ml: auto;
  --rsbs-mr: auto;
}

[data-rsbs-overlay] {
  @apply rounded-t-none;
}

[data-rsbs-overlay], [data-rsbs-backdrop], [data-rsbs-root]::after {
  z-index: 100 !important;
}

[data-rsbs-content] {
  /*max-height: 100%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*height: 100%;*/
}
